h1 {
    text-align: center;
    color: gold;
}

h2 {
    color: gold;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: aqua;
}

button {
    margin: 5px;
    padding: 10px;
    color: black;
}

.container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
}

.message {
    margin-top: 10px;
    font-weight: bold;
}
